<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testng suite1 - regressions test" parallel="tests" thread-count="3">
    <test name="Testng test1" parallel="methods" >
        <parameter name="userName" value="priyanka"/>
        <parameter name="password" value="jalal"/>
        <parameter name="a" value="5"/>
        <parameter name="b" value="6"/>
         <classes >
            <class name="com.chartlab.testng.tests.FacebookTest"/>
            <class name="com.chartlab.testng.tests.GoogleSearch"/>
            <class name="com.chartlab.testng.tests.DataDrivenTest"/>
        </classes>
    </test>
    <test name="other test">
        <classes>
            <class name="com.chartlab.testng.tests.AmazonTest"/>
        </classes>
    </test>


</suite>